@page
@model MoviesRazor.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="title">Welcome</h1>
    <img src="~/img/hi.gif" alt="HELLO" />
    <p>There is nothing in particular, so you better check my <a class="navbar-brand" style="background-color:#6f6cff; padding: 10px" asp-area="" asp-page="/MoviesIndex">Movies List</a></p>
</div>
