@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Home i Privacy - це шаблонно створені сторінки контроллера Home які я просто вирішив лишити (і прикрасити)</p>
<p>Фільми не розміщені в якомусь порядку, просто список улюблених :)</p>
